<rss version="2.0">
   <channel>
      <title><%= $blog.name %></title>
      <link><%= host %></link>
      <description><%= $blog.title %></description>
      <lastBuildDate><%= universal @posts.first.date %></lastBuildDate>
      <generator>Wind [http://github.com/wagnerandrade/wind]</generator>
      <% @posts.each do |post| %>
          <item>
             <title><%= post.title %></title>
             <link><%= path %></link>
             <description><%= textile post.text %></description>
             <pubDate><%= universal post.date %></pubDate>
             <guid><%= universal @posts.first.date %></guid>
          </item>
      <% end %>
   </channel>
</rss>