<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= $blog.name %> &#8212; <%= $blog.title %></title>
        <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    </head>
    <body>
        <section id="content">
            <header>
                <h1><a href="/"><%= $blog.name %></a></h1>
                <h2><%= $blog.title %></h2>
            </header>
            <% if @message %>
                <section id="message"><%= @message %></section>
            <% end %>
            <section id="main">
                <%= yield %>
            </section>
            <nav>
                <%= partial :meta %>
            </nav>
            <footer>
                &copy;<%= today.year %> <%= $blog.name %>
                <% unless logged? %>
                    &#8212; <a href="/login">login</a>
                <% end %>
            </footer>
        </section>
    </body>
</html>