<section class="admin">
    <h1>Settings</h1>
    <form action="/settings" method="post">
        <div>
            <label>Blog name</label>
            <input type="text" name="name" value="<%= $settings.name %>" autofocus />
        </div>
        <div>
            <label>Title</label>
            <input type="text" name="title" value="<%= $settings.title %>" />
        </div>
        <div>
            <label>Feed Url (to services like FeedBurner)</label>
            <input type="text" name="feed" value="<%= $settings.feed %>" />
        </div>
        <div>
            <label>Change Admin code (fill to change)</label>
            <input type="password" name="new_code" />
        </div>
        <div>
            <label>Post footer (to comments services like Disqus and IntenseDebate)</label>
            <textarea name="footer"rows="5" cols="40"><%= $settings.footer %></textarea>
        </div>
        <div>
            <label>Visitor tracker</label>
            <textarea name="tracker"rows="5" cols="40"><%= $settings.tracker %></textarea>
        </div>
        <h2>Put your admin code to save settings</h2>
        <div>
            <input type="password" name="code" />
        </div>
        <button type="submit">Save</button>
    </form>
</section>